:root {
  --btnBackground: hsl(0, 100%, 68%);
  --heading: hsl(230, 29%, 20%);
  --description: hsl(230, 11%, 40%);
  --GrayishBlue: hsl(231, 7%, 65%);
  --bg: hsla(235, 7%, 65%, 0.295);
  --new: hsl(207, 33%, 95%);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
  line-height: 1;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--bg);
  width: 45%;
  height: 50%;
  z-index: -1;
  border-bottom-left-radius: 100px;
}

h1,
button,
nav {
  font-family: "Barlow Condensed", sans-serif;
}

.primary-heading {
  font-size: 6.4rem;
  text-transform: uppercase;
  margin-bottom: 3.6rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.btn {
  width: 45%;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 2rem;
  font-weight: 700;
  background-color: transparent;
  letter-spacing: 1px;
  font-size: 1.6rem;
  cursor: pointer;
}
.btn__schedudle {
  color: var(--new);
  background-color: var(--btnBackground);
  transition: all 0.3s;
}
.btn__schedudle:hover {
  opacity: 0.7;
}
.btn__preview {
  letter-spacing: 5px;
  color: var(--GrayishBlue);
}

.nav {
  padding: 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  list-style: none;
  display: flex;
  gap: 4rem;
}
.nav__link:link, .nav__link:visited {
  color: var(--heading);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}
.nav__link:hover, .nav__link:active {
  text-decoration: underline;
  color: var(--GrayishBlue);
}

.hero {
  padding: 9.6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.hero__dashboard {
  flex-basis: 50%;
}
.hero__align {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}
.hero__new {
  background-color: black;
  color: var(--new);
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  border-radius: 100px;
}
.hero__monograph {
  text-transform: uppercase;
  color: var(--GrayishBlue);
}
.hero__description {
  line-height: 1.2;
  color: var(--description);
  margin-bottom: 5rem;
  width: 50%;
}
.hero__cta {
  display: flex;
  gap: 1rem;
}
.hero__img {
  position: absolute; /* Allows positioning relative to parent */
  right: -40%; /* Pushes the image outside the right edge of the container */
  top: 40%; /* Center the image vertically relative to the hero section */
  transform: translateY(-40%); /* Adjusts vertical centering */
  width: 80%; /* Adjust as needed */
}
.hero__img img {
  width: 100%;
  height: auto;
}