:root {
  --btnBackground: hsl(0, 100%, 68%);
  --heading: hsl(230, 29%, 20%);
  --description: hsl(230, 11%, 40%);
  --GrayishBlue: hsl(231, 7%, 65%);
  --bg: hsla(235, 7%, 65%, 0.295);
  --new: hsl(207, 33%, 95%);
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
  line-height: 1;
  height: 100vh;
  position: relative;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--bg);
  width: 45%;
  height: 50%;
  z-index: -1;
  border-bottom-left-radius: 100px;
}

h1,
button,
nav {
  font-family: "Barlow Condensed", sans-serif;
}

.primary-heading {
  font-size: 6.4rem;
  text-transform: uppercase;
  margin-bottom: 3.6rem;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

.btn {
  width: 50%;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 2rem;
  font-weight: 700;
  background-color: transparent;
  letter-spacing: 1px;
  font-size: 1.6rem;
  cursor: pointer;
}
.btn__schedudle {
  color: var(--new);
  background-color: var(--btnBackground);
  transition: all 0.3s;
}
.btn__schedudle:hover {
  opacity: 0.7;
}
.btn__preview {
  letter-spacing: 5px;
  color: var(--GrayishBlue);
}

.nav {
  padding: 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  list-style: none;
  display: flex;
  gap: 4rem;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.nav__link:link, .nav__link:visited {
  color: var(--heading);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}
.nav__link:hover, .nav__link:active {
  text-decoration: underline;
  color: var(--GrayishBlue);
}

.hero {
  padding: 9.6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.hero__dashboard {
  flex-basis: 50%;
}
.hero__align {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}
.hero__new {
  background-color: black;
  color: var(--new);
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  border-radius: 100px;
}
.hero__monograph {
  text-transform: uppercase;
  color: var(--GrayishBlue);
}
.hero__description {
  line-height: 1.2;
  color: var(--description);
  margin-bottom: 5rem;
  width: 50%;
  font-size: 1.8rem;
}
.hero__cta {
  display: flex;
  gap: 1rem;
}
.hero__img {
  position: absolute; /* Allows positioning relative to parent */
  right: -40%; /* Pushes the image outside the right edge of the container */
  top: 40%; /* Center the image vertically relative to the hero section */
  transform: translateY(-40%); /* Adjusts vertical centering */
  width: 80%; /* Adjust as needed */
  height: 70%;
}
.hero__img img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 90em) {
  hr {
    display: none;
  }
  .hero__dashboard {
    flex-basis: 55%;
  }
  .hero__img img {
    width: 70rem;
  }
}
@media only screen and (max-width: 75em) {
  .container {
    max-width: 80%;
  }
  .hero__dashboard {
    flex-basis: 60%;
  }
}
@media only screen and (max-width: 70em) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 60em) {
  body::after {
    height: 70%;
  }
  .hero {
    flex-direction: column;
    gap: 5rem;
    padding: 3.6rem 0;
  }
  .hero__dashboard {
    flex-basis: 60%;
    order: 2;
  }
  .hero__description {
    font-size: 3rem;
    width: 100%;
  }
  .hero .btn {
    padding: 2rem 0;
  }
  .hero__img {
    width: 70rem !important;
    position: static;
    transform: translateX(10%);
    width: 100%;
    order: 1;
  }
  .hero__img img {
    width: 90rem;
  }
}
@media only screen and (max-width: 40em) {
  .menu {
    display: block !important;
  }
  .btn {
    letter-spacing: 1px;
  }
  body::after {
    height: 60%;
  }
  html {
    font-size: 50%;
  }
  hr {
    display: block;
    height: 1px;
    color: var(--GrayishBlue);
  }
  .nav {
    position: relative;
  }
  .nav__list {
    position: absolute;
    top: 220%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.13);
    text-align: center;
    padding: 3rem;
    font-size: 3rem;
  }
  .nav__link:link, .nav__link:visited {
    font-weight: 600;
  }
  .primary-heading {
    font-size: 5.8rem;
  }
  .hero__img img {
    width: 100%;
  }
}
.menu {
  display: none;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}